services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: taskforge-api
    ports:
      - "8080:8080"
    environment:
      - HTTP_PORT=8080
      - DB_DSN=postgres://postgres:postgres@db:5432/taskforge?sslmode=disable
      - RABBIT_URL=amqp://guest:guest@rabbit:5672/
      - LOG_LEVEL=debug
      - JWT_SECRET=your-super-secure-jwt-secret-key-min-32-chars-here 
    command: sh -c "/migrate -path /migrations -database \"$$DB_DSN\" up && /api"
    depends_on:
      db:
        condition: service_healthy  
      rabbit:
        condition: service_started

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskforge
    ports:
      - "5432:5432"
    healthcheck:  
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbit:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"